
    <!-- Subscribe Area Start -->
    <div class="subscribe-area" style="background-image: url(/img/smallbg/pattern3.png);">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 wow fadeInUp">
                    <h1>Nós ligamos para você!</h1>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp">


                <form method="post" action="http://187.16.179.109/UnionCRM/c2c.jsp">
                    <input type="hidden" name="voip" value="174392">
                    <input type="hidden" name="url" value="http://www.solutionsvoip.com.br/">
                    <div class="input-group rounded">
                        <input class="form-control s-bg" type="text" required="required" name="ddd" size="3" maxlength="2" placeholder="DDD">
                        <input class="form-control s-bg" type="text" required="required" name="numero" size="9" maxlength="9" placeholder="NÚMERO">
                        <!--class="icon ti-headphone-alt"-->
                        <div class="input-group-addon s-bg g-color-white">
                            <button type="submit" value="enviar" class="icon">Ligar</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Area End -->
    <!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row ">
                <div class="col-md-3 col-sm-6 mb-60">
                    <div class="f-heading-v1">
                        <img  src="/img/logo/logo-branca.png" alt="">
                    </div>
                    <div class="f-post-body">
                        <p>Empresa de Tecnologia voltada para telecomunicações, com serviço de voz sobre IP(VoIP) e
SMS Marketing, disparo de Campanha SMS.</p>
                        <ul class="f-social">
                            <li><a href="https://www.facebook.com/gruposolutionsvoip/" target="_blank"><i class="ti-facebook"></i></a></li>
                            <li><a href=""><i class="ti-twitter"></i></a></li>
                            <li><a href=""><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-60">
                    <div class="f-heading-v1">
                        <h3 class="f-heading-v1-title">Facebook</h3>
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11&appId=314312322341374';
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-page" data-href="https://www.facebook.com/gruposolutionsvoip/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/gruposolutionsvoip/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/gruposolutionsvoip/">Grupo Solutions</a></blockquote></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 mb-60">
                    <div class="f-heading-v1">
                        <h3 class="f-heading-v1-title">Serviços</h3>
                    </div>
                    <ul class='f-link-body'>
                        <li><a href="voip.php">VoIP</a></li>
                        <li><a href="sms-marketing.php">SMS</a></li>
                        <li><a href="torpedo-voz.php">Torpedo de Voz</a></li>
                        <li><a href="0800web.php">0800 Web</a></li>
                        <li><a href="pabx-ip.php">PABX IP</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-60">
                    <div class="f-heading-v1">
                        <h3 class="f-heading-v1-title">Contato</h3>
                    </div>
                    <div class="f-contact-body">
                        <div class="f-address">
                            <span><i class="icon ti-direction"></i></span>
                            <p>Avenida Francisco Jalles, 3277 - Villa Maria
                                <br> Jales /SP - CEP 15.706-39</p>
                        </div>
                        <div class="f-phone">
                            <span><i class="icon ti-mobile"></i></span>
                            <p class="mb-0">+55 017 3621-4392</p>
                        </div>
                        <div class="f-phone">
                            <span><i class="icon ti-mobile"></i></span>
                            <p class="mb-0">VoIP: 9000</p>
                        </div>
                        <div class="f-email">
                            <span><i class="icon ti-email"></i></span>
                            <p class="mb-0">
                                <a class="" href="contato@solutionsvoip.com.br">contato@solutionsvoip.com.br</a>
                            </p>
                        </div>
                        <div class="f-website">
                            <span><i class="icon ti-world"></i></span>
                            <p class="mb-0">
                                <a class="" href="#">www.solutionsvoip.com.br</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="copyright">
                <div class="row text-center">
                    <div class="col-md-12">
                        <p>© 2017 <strong>Solutions VoIP</strong> <span>All Rights Reserved</span>. Desenvolvido por <a href="http://www.mqnpublicidade.com.br">MQN Publicidade</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/magnific-popup.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/form-validator.min.js"></script>
    <script src="/js/contact-form-script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWe3lqkkGdcqbtb9NjeJNloIns55HUyNY"></script>
    <script src="/js/map.js"></script>
    <script src="/js/main.js"></script>
    <script id="dsq-count-scr" src="//blog-solutionsvoip-com-br.disqus.com/count.js" async></script>
    <!-- Chat do Movidesk -->
        <script type="text/javascript">var mdChatClient="5034449F873748DA8C4C5F60587A3AC0";</script>
        <script src="https://chat.movidesk.com/Scripts/chat-widget.min.js"></script>
        <!-- Chat do Movidesk fim -->
        <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59911653-1', 'auto');
          ga('send', 'pageview');
        </script>
        <!-- Google Analytics fim -->   
</body>

</html>