
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="url" content="http://blog.solutionsvoip.com.br" /> 
    <meta name="siteinfo" content="/robots.txt" />
    <meta name="revisit-after" content="1 weeks" />
    <meta name="robots" content="index, follow" /> 
    <meta name="language" content="pt-br" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Solutions Voip</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/themify-icons.css" rel="stylesheet">
    <link href="/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/css/slicknav.min.css" rel="stylesheet">
    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;subset=latin-ext,vietnamese" rel=stylesheet>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel=stylesheet>
    <!-- retirar -->
    <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
</head>

<body>
    <!-- Header Area Start  -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    Economize até 90 % na conta de telefone
                </div>
                <div class="col-md-7">
                    <ul>
                        <li>
                            <a href="mailto:cpmtato@solutionsvoip.com.br"><i class="icon ti-email"></i> contato@solutionsvoip.com.br</a>
                        </li>
                        <li>
                            <i class="icon ti-headphone-alt"></i> 0800-020-8701 / 017 3621-4392
                        </li>
                        <li>
                            <a href="https://solutionsvoip.com.br/conta.php"><i class="icon ti-user"></i> Minha Conta</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a href="index.php" class="logo"><img src="/img/logo/logo.png" alt=""></a>                   
                </div>
                <div class="col-md-9 text-right">
                    <div id="mobile-menu-wrap"></div>
                    <div class="menu-area">
                        <ul id="b-mania-menu">
                            <li><a href="https://solutionsvoip.com.br/">Home</a></li>
                            <li><a href="#">Serviços e Planos</a>
                                <ul>
                                    <li><a href="https://solutionsvoip.com.br/discador.php">Discador</a></li>
                                    <li><a href="https://solutionsvoip.com.br/leads.php">Leads</a></li>
                                    <li><a href="https://solutionsvoip.com.br/pabx-ip.php">PABX IP</a></li>
                                    <li><a href="https://solutionsvoip.com.br/sms-marketing.php">SMS</a></li>
                                    <li><a href="https://solutionsvoip.com.br/0800web.php">08000 WEB</a></li>
                                    <li><a href="https://solutionsvoip.com.br/torpedo-voz.php">TORPEDO DE VOZ</a></li>
                                    <li><a href="https://solutionsvoip.com.br/voip.php">VOIP</a></li>
                                </ul>
                            </li>
                            <li><a href="https://solutionsvoip.com.br/suporte.php">Suporte</a></li>
                            <li><a href="https://solutionsvoip.com.br/cadastro.php">Cadastro</a></li>
                            <li class="active"><a href="https://blog.solutionsvoip.com.br">Blog</a></li>
                            <li><a href="https://solutionsvoip.com.br/contato.php">Contato</a></li>
                            <li class="teste"><a href="https://solutionsvoip.com.br" id="toggle-login">Me Ligue</a></li>



                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>