---
layout: default
---
    <div class="section-padding pdb-0">
        <div class="container">
            <div class="row">
                <div class="blog-article-container clearfix col-md-8">
                    <!-- BLOG ARTICLE -->
                    <article class="blog-article blog-article-single">
                        <div class="blog-article-img">
                            <img src="{{page.image}}" alt="">
                        </div>
                        <div class="blog-article-content">
                            <!-- BLOG ARTICLE HEADER -->
                            <div class="blog-article-header media">
                                <span class="blog-article-media-type cl">
                                <i class="icon ti-paint-bucket"></i>
                            </span>
                                <div class="bd">
                                    <h3 class="blog-article-title">{{page.title}}</h3>
                                    <div class="blog-article-info">
                                        <span class="blog-article-date">
                                        Postado: 
                                        <a href="#">{{ page.date | date: "%b %-d, %Y" }}</a>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <!-- BLOG ARTICLE HEADER -->
                            {{content}}
                            <!-- BLOG ARTICLE FOOTER -->
                            <div class="blog-article-footer">
                                <div class="blog-article-tags">
                                    <h5 class="blog-article-tags-title">Tags :</h5>
                                    <ul>
                                    	{% for tag in page.tags %}
	        							<li><a href="/tags/#{{tag}}">{{ tag }}</a></li>
	    								{% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!-- BLOG ARTICLE FOOTER -->
                        </div>
                    </article>
                    <!-- BLOG CONTROL -->
<!--                     <div class="blog-articles-control ">
                        <span class="ctrl-article-prev">
                        <a href="#">&leftarrow; Previous Article</a>
                    </span>
                        <span class="ctrl-article-next ">
                        <a href="#">Next Article &rightarrow; </a>
                    </span>
                    </div> -->
                    <!-- {% include share.html %} -->
                    <!-- COMMENTS -->
                    <div class="blog-article-comments">
                        {% include disqus.html %}
                    </div>
                    <!-- COMMENTS -->
                </div>
                <!-- BLOG ARTICLE CONTAINER -->
                <!-- BLOG SIDEBAR -->
                <div class="col-md-4">
                    <div class="blog-sidebar">
                        <!-- Sidebar widgets -->
                        <ul class="sidebar-widgets">
                           
                            
                            
                            <!-- sidebar widget -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>